body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input{
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #3da61c;
    margin-bottom: 4px;
}

button{
    background: #3da61c;
    color: white;
    padding: 10px;
    border: 1px solid #3da61c;
    font-weight: bold;

}

#delete-btn{
    background-color: white;
    color: #3da61c;
}

li a{
    color: #3da61c;
    
}

ul{
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

li{
    margin-top: 5px;
}